.videoStatusOut{
    display: flex;
    align-items: center;
}
.optionButtonClass{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reportName{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttonBottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.reportContent{
    background-color: #e5e3e3;
    padding: 20px;
}
.reporTitle{
    background-color: #e5e3e3;
    padding-left: 10px;
    width: 10vw;
}
.hzTitle{
    font-size: 15px;
    font-weight: 600;
}